<!DOCTYPE html>
<html>
<head>
	<title>{{ strings_d["World News Quiz"][lang] }} - {{ strings_d["End of Study"][lang] }}</title>
</head>

<body>
	<h2 id='world_news_quiz_title'>{{ strings_d["World News Quiz"][lang] }}</h2>
	<h3 id='study_end_title'>{{ strings_d["End of Study"][lang] }}</h3>
	<div id='study_end_explanation'>
		{{ strings_d["Since you do not consent to the study, the study is complete."][lang] }}
	<br>
	<br>
	<div id='contact_info'>
		{{ strings_d["If you have any questions about the study, please email Anu Kashyap at akashyap@mit.edu and Erhardt Graeff at erhardt@media.mit.edu. Additionally, if you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, MIT, Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, Phone 1-617-253-6787."][lang] }}
	</div>
</body>

</html>