<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>World News Quiz | 世界新闻问答</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="splash" id="splash_en">
      Think you know world news? Test your knowledge with a quiz developed at MIT!
      <br>
      But first, are you a native English speaker?
      <form id="lang_form" action="/set_lang/" method="POST">
        <input type="hidden" name="lang" value="en" />
        <input type="submit" value="Yes, I am!" />
      </form>
    </div>
    <div class="splash" id="splash_chn">
      想你知道世界新闻？与在麻省理工学院开发的测验测试你的知识！
      <br>
      但首先，你是土生土长的中国扬声器？
      <form id="lang_form" action="/set_lang/" method="POST">
        <input type="hidden" name="lang" value="chn" />
        <input type="submit" value="我是！">
      </form>
    </div>
  </body>
</html>