<!DOCTYPE html>
<html>
<head>
	<title>{{ strings_d["World News Quiz"][lang] }} - {{ strings_d["Main Survey"][lang] }}</title>
</head>

<body>
	<h2 id='world_news_quiz_title'>{{ strings_d["World News Quiz"][lang] }}</h2>
	<h3 id='main_survey_title'>{{ strings_d["Main Survey"][lang] }}</h3>
	<div id='basic_info_instructions'>
		{{ strings_d["In each question below, you're presented with a news story. In each of these questions, identify the country (from the choices given) that the news story is about."][lang] }}
	</div>
	<br>
	<form id='survey_form' action='/handle_survey' method='POST'>
		{% for survey_datum in survey_data %}
		<div id={{ (survey_datum['question_id'])|string + '_form'}} form='survey_form'>
			{{ (loop.index)|string + '. ' + survey_datum['story'] }}
			<br>
			<br>
				{% for choice in survey_datum['answer_choices'] %}
					<input type='radio' name={{ (survey_datum['question_id'])|string }} value={{choice}}> {{ strings_d[code_to_name[choice]][lang] }}
					<br>
				{% endfor %}
		</div>
		<br>
		{% endfor %}
		<input type='submit' value='{{ strings_d["Submit"][lang] }}'>
	</form>
</body>

</html>